.cart-container {
  display: flex;
  gap: 30px;
  padding: 30px;
  background: #f8f8f8;
}

.cart-left {
  flex: 2;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.cart-item img {
  width: 100px;
  border-radius: 10px;
}

.cart-details {
  flex: 1;
  margin-left: 20px;
}

.quantity-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.quantity-box button {
  padding: 4px 10px;
  border: none;
  background: tomato;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.cart-summary {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.cart-title {
  text-align: center;
}

.empty-cart {
  text-align: center;
  font-size: 18px;
  color: #555;
}

.checkout-btn {
  width: 100%;
  background: tomato;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.empty-bag {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;

}