.orders-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    width: 50%;

}

.orders-title {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.no-orders {
    text-align: center;
    font-size: 18px;
    color: gray;
    margin-top: 50px;
}


.order-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.order-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.order-top h4 {
    margin: 0;
    font-size: 18px;
}

.order-top img {
    object-fit: contain;
    display: block;
    margin-right: 20px;
}

.order-image {
    width: 150px;
    height: auto;
    object-fit: contain;
    display: block;
    margin-right: 15px;
}


.order-top span {
    color: #ff4d4d;
    font-weight: 600;
}

.order-top p {
    font-weight: 600;
    color: #222;
}


.order-items {
    margin-top: 12px;
}

.order-items p {
    margin: 6px 0;
    color: #555;
    font-size: 15px;
}

.delete-order-btn {
    margin-top: 12px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}